[Unit]
Description=Qua MPRIS D-Bus adapter

[Service]
Type=simple
ExecStart=/home/free2/code/scripts-current/qua-mpris

[Install]
WantedBy=default.target
