[Unit]
Description=Qua MPRIS Connector
Documentation=https://github.com/free2/musl2gcc/scripts/qua-mpris-c
Requires=default.target
After=default.target

[Service]
WorkingDirectory=/home/free2/code/musl2gcc/scripts/
Environment="PATH=/home/free2/code/musl2gcc/scripts/:/home/free2/code/scripts-current:/home/free2/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/bin:/var/lib/flatpak/exports/bin:/usr/lib/jvm/default/bin:/usr/bin/site_perl:/usr/bin/vendor_perl:/usr/bin/core_perl:/usr/lib/rustup/bin"
ExecStart=/home/free2/code/musl2gcc/scripts/qua-mpris-c

[Install]
WantedBy=default.target
